@import '../../../styles/styles';
@import '../../../styles/variables';

#play {
  background: linear-gradient($turquoise-blue,  $carolina-blue, $han-purple, $purpureus);
  position: absolute;
  right: 0;
  width: 50%;
  height: 50%;

  button {
    @include button-style($han-purple)
  }
}
